python-telegram-bot==22.5
python-telegram-bot[job-queue]==22.5
aiofiles==23.1.0
Pillow==11.3.0
requests
pyrofork
TgCrypto-pyrofork
aioschedule

Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
